.butt-Register{
    margin-top: 2px;
    align-items: center;
    align-self: center;
    margin-top:13px;
    border-radius:8px;
    padding:8px;
    color:red;
    background-color: black;
}

p {
    font-size: 0.7em;
}

.registerForm-Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerFormRoot-Register {
  margin-top: 20px;
  align-items: center;
  box-shadow: white;
}

.registerForm-Register h1 {
  text-align: center;
  margin-bottom: 20px;
  color:#fc3434;
}

.placeHolder-username-Register,
.placeHolder-email-Register,
.placeHolder-password-Register,
.placeHolder-passwordConfirmation-Register,
.placeHolder-firstName-Register,
.placeHolder-lastName-Register,
.placeHolder-profilePic-Register {
  margin-bottom: 5px;
  color:rgb(255, 255, 255)
}

.user-txt{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802);
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}
.email-txt{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802);
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}
.password-txt{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802);
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}
.password-confirm{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802);
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}
.first-name{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802);
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}
.last-name{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802) ;
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}
.profile-url {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid  rgba(253, 41, 41, 0.802);
    border-radius: 10px;
    color: white;
    background-color:transparent;
    margin: auto;
}



button[type="submit"]:hover {
  background-color: #ab2525;
  color:white; /* Button hover background color */
  border-radius:8px
}

.register-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: no-repeat url("https://img.freepik.com/free-vector/abstract-red-circle-black-background-technology_1142-9839.jpg?w=2000&t=st=1712947917~exp=1712948517~hmac=9a18f0b7f51727e40c80c32b9e4a3e4174922b912f1789b072756aec5053d8c7");
    background-size: cover;
    background-position: 70% 0%;
    height: 100vh; /* Adjusted to fill the entire viewport */
  }
  
  .root-Register {
    width: 90%; /* Adjusted to occupy 90% of the viewport width */
    max-width: 400px; /* Added maximum width for better responsiveness */
    padding: 20px;
    border-radius: 8px;
    background-color:transparent; /* Background color for the registration form */
    box-shadow: 0px 0px 10px rgba(253, 41, 41, 0.802);
    margin: auto; /* Center the form horizontally */
  }

  .toggleForm {
    width: 50%;
  padding: 10px;
  background-color: rgb(0, 0, 0); /* Button background color */
  color:  rgba(253, 41, 41, 0.802);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 25%;
  margin-top: 5%;
 
  }
