#background-PostPreview {
    position: relative;
    /* background-color: #F9F0DC; */
    background-repeat: no-repeat;
    width: 70vw;
    height: 10rem;
    background-position: 50% 50%;
    border-radius: 2rem;
     
    /* animation */
    transition: 
        background-size 4s,
        width 1s,
        height 1s
    ;
    
    background-size: 100% auto;
    -webkit-box-shadow:0px 0px 15px 1px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 15px 1px rgba(45,255,196,0.9);
 
}

#background-PostPreview:hover {
    background-size: 20% auto;
}

#mainContainer-PostPreview {
    position: absolute;
    background-color: rgb(0,0,0,0);
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
}

#centerClick-PostPreview {
    position: absolute;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#title-PostPreview {
    text-align: center;
    font-size: 2rem;
}

#date-PostPreview {
    position: absolute;
    right: 50%;
    bottom: 5%;
    transform: translateX(50%);
    overflow-x: hidden;
}

#mainContainer-PostPreview:hover {
    box-shadow: 0px 0px 25px 5px rgba(245, 246, 239, 0.9);
}
#centerClick-PostPreview:hover {
    box-shadow: 0px 0px 25px 5px rgba(245, 246, 239, 0.9);
}

.sidebarBg-PostPreview {
    margin: 0 1rem;
    background-color: rgb(255,255,255, 0.4);
    width: 5rem;
    height: 10rem;
    z-index: 2;
    transition: width, height 1s;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

}

#profPic-PostPreview {
    margin: 0 auto;
    height: 4.5rem;
    width: 4.5rem;    
    border-radius: 50%; 
    background-position: 50% 50%;
    background-size: cover;
    /*  z-index: 2; */

}

.likeButton-PostPreview {
    width: 1px;
    margin: 10px;
    z-index: 2;

}


