#mainContainer-Feed {
    position: relative;

}

#previewContainer-Feed {
    margin: 1rem 0;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    /* align-items: center; */
    justify-content: space-around;
    gap: 3rem;
}

.containerUSER-Feed {
    width: 60vw;
}

#addPost-Feed {
    position: absolute;
    left: 2%;
    top: 2%;
}