#mainContainer-Feed {
    position: relative;

}

#previewContainer-Feed {
    margin: 1rem 2vw 0 18vw;
    width: 80vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.containerUSER-Feed {
    width: 60vw;
}

#addPost-Feed {
    position: absolute;
    left: 2%;
    top: 2%;
}