/* AddPost.css */

.add-btn-modal {
    padding: 10px 20px;
    background-color: #e5e5e5;
    color: rgb(48, 171, 27);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn-modal:hover {
    background-color: #45a049;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    text-align: center;
    color:rgb(14, 14, 14);
  }
  
  .modal-content {
    margin-bottom: 20px;
  }
  
  .add-post-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:rgb(10, 10, 10);
  }
  

  .add-post-form input[type="text"] {
    width: calc(100% - 20px);
    padding: 50px;
    margin: 5px 0 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color:rgb(205, 205, 205)
  }  

  .add-post-form input[type="file"] {
    background-color: #f9f9f9;
    padding:30px;
    color:rgb(87, 253, 253);
    image-rendering: auto;
  }
  
  .add-post-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

   
  }
  
  .add-post-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .close-modal {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-modal:hover {
    background-color: #d32f2f;
  }
  
  .preview {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }