#container-Layout {
    display: flex;
    flex-direction: column;
}

/* #mainContainer-NavBar {
    background-color: #F9F0DC;
    display: flex;
    justify-content: space-between;
}

.link-NavBar {
    font-size: 1.5rem;
    color: black;
}

.link-NavBar:hover {
    background-color: bisque;
}

.active-Link-NavBar {
    color: #75E3AC;
}

#profPic-container-NavBar {
    margin: 0.5rem 0 1rem 2rem;
    height: 5rem;
    width: 5rem;    
    border-radius: 50%; 
    background-position: 50% 50%;
    background-size: cover;
}

#linkContainer-NavBar {
    width: 75vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
} */

#full-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}